extends ../template/main
block title
	| Markup
block main
	+breadcrumb('Часто задаваемые вопросы')
	.c-content
		section
			.container
				//wf
				.b-accordion.js-accordion-body
					+accordion-item('Для каких вакансий можно  использовать  FREEVAC?', 'Таким образом укрепление и развитие структуры играет важную роль в формировании систем массового участия. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.')
					+accordion-item('Какой сервис выбрать?', 'Таким образом укрепление и развитие структуры играет важную роль в формировании систем массового участия. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.')
					+accordion-item('Если я недоволен работой рекрутера, могу ли я разорвать наше сотрудничество до закрытия текущей вакансии?', 'Таким образом укрепление и развитие структуры играет важную роль в формировании систем массового участия. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.')
					+accordion-item('Как происходит видео-собеседование?', 'Таким образом укрепление и развитие структуры играет важную роль в формировании систем массового участия. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.')
					+accordion-item('Для чего нужна регистрация на сайте?', 'Таким образом укрепление и развитие структуры играет важную роль в формировании систем массового участия. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.')
					+accordion-item('Мне очень нравится один рекрутер, и я хотел бы работать только с ним. Это возможно?', 'Таким образом укрепление и развитие структуры играет важную роль в формировании систем массового участия. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.')
					+accordion-item('Как происходит видео-собеседование?', 'Таким образом укрепление и развитие структуры играет важную роль в формировании систем массового участия. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.')
