extends ../template/aspirant
block title
	| Markup
block main
	+breadcrumb('', 'Мои отклики','Кабинет соискателя')
	.c-content.c-content--padd-sm

		.b-commutator.js-commutator-body
			//Tabs
			.b-commutator__tabs.b-commutator__tabs--mb
				.container
					.row
						.col-sm-6
							.b-commutator__tabs-item.active.js-commutator-btn(data-main='a')
								| Отклики
						.col-sm-6
							.b-commutator__tabs-item.js-commutator-btn(data-main='b')
								| Просмотры
			//Tab content
			section.b-commutator__content.active.js-commutator-content(data-child='a')
				.o-dialog-box
					.container
						.row
							.col-lg-4.col-xl-3
								.o-aside-wrap.js-filter-wrap
									button.btn-transp.js-open-filter.b-filter-btn-open-filter Открыть отклики
									.o-aside.js-filter-body
										.o-aside__content
											//Responce
											.b-person-message.active
												.b-person-message__figure
													img(src="assets/img/company/item-1.jpg" alt="alt")
												.b-person-message__body
													.b-person-message__caption
														.b-person-message__name HP Украина
														.b-person-message__date 11.02.17
													.b-person-message__vacancy-caption
														| Менеджер по продажам со знанием англ. языка (IT)

											//Responce
											.b-person-message.__unread
												.b-person-message__figure
													img(src="assets/img/company/item-2.jpg" alt="alt")
												.b-person-message__body
													.b-person-message__caption
														.b-person-message__name ТОВ АФ "ПКФ аудит-финансы"
														.b-person-message__date 11.02.17
													.b-person-message__vacancy-caption
														| Продавец консультант зоомаркет

											//Responce
											.b-person-message
												.b-person-message__figure
													img(src="assets/img/company/item-3.jpg" alt="alt")
												.b-person-message__body
													.b-person-message__caption
														.b-person-message__name ПроАудит
														.b-person-message__date 11.02.17
													.b-person-message__vacancy-caption
														| Территориальный супервайзер

											//Responce
											.b-person-message
												.b-person-message__figure
													img(src="assets/img/company/item-4.jpg" alt="alt")
												.b-person-message__body
													.b-person-message__caption
														.b-person-message__name LG Украина
														.b-person-message__date 11.02.17
													.b-person-message__vacancy-caption
														| Инструктор, оператор детских аттракционов

											//Responce
											.b-person-message
												.b-person-message__figure
													img(src="assets/img/company/item-2.jpg" alt="alt")
												.b-person-message__body
													.b-person-message__caption
														.b-person-message__name ТОВ АФ "ПКФ аудит-финансы"
														.b-person-message__date 11.02.17
													.b-person-message__vacancy-caption
														| Middle Ruby on Rails разработчик

											//Responce
											.b-person-message
												.b-person-message__figure
													img(src="assets/img/company/item-3.jpg" alt="alt")
												.b-person-message__body
													.b-person-message__caption
														.b-person-message__name ПроАудит
														.b-person-message__date 11.02.17
													.b-person-message__vacancy-caption
														| Продавец-консультант мобильных телефонов

							.col-lg-8.col-xl-9
								.b-message-box
									.b-message-box__caption
										h4.o-dialog-box__vacancy-title
											| Менеджер по продажам со знанием англ. языка (IT)
										.b-message-box__company-name HP Украина

										.b-profile.__padd-t-0
											.row.justify-content-center.align-items-center
												.b-profile__button-wrap.__padd-def
													a(href="#").btn-transp
														| Добавить
														br
														| в избранное
												.b-profile__button-wrap.__padd-def
													a(href="#").btn-transp
														| Заблокировать
												.b-profile__button-wrap.__padd-def
													a(href="#").btn-transp
														| Отклонить
														br
														| вакансию


									.b-message-box__body

										//Message
										.b-message-box__message.__own
											.b-message-box__message-caption
												.b-message-box__message-name  Вы
												.b-message-box__message-date сегодня в 13:00
											.b-message-box__message-body
												.b-message-box__message-message
													| Уточнения дальнейших направлений развития. Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании форм развития. Повседневная практика показывает, что начало <span class="tdu">повседневной работы</span> по формированию позиции позволяет выполнять важные задания по разработке систем массового участия.

										//Message
										.b-message-box__message.__alien
											.b-message-box__message-caption
												.b-message-box__message-name HP Украина
												.b-message-box__message-date сегодня в 13:25
											.b-message-box__message-body
												.b-message-box__message-message
													| Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке систем массового участия. Равным образом консультация с широким активом.
										//Message
										.b-message-box__message.__own
											.b-message-box__message-caption
												.b-message-box__message-name  Вы
												.b-message-box__message-date сегодня в 13:00
											.b-message-box__message-body
												.b-message-box__message-message
													| Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании форм развития практика показывает, что начало формированию позиции позволяет выполнять важные задания по разработке систем массового участия.
										//Message
										.b-message-box__message.__inform
											.b-message-box__message-caption
												.b-message-box__message-name Вы открыли свои контакты
												.b-message-box__message-date сегодня в 13:00
											.b-message-box__message-body
												.b-message-box__message-message
													a(href="tel:+380951234567").b-message-box__message-link
														i.e-icon.e-icon--xs.e-icon--mr10
															+icon('phone','e-icon__figure e-icon__figure--xs')

														| +38 (095) 123 45 67
													a(href="mailto:kuzya_yaroslava@gmail.com").b-message-box__message-link
														i.e-icon.e-icon--xs.e-icon--mr10
															+icon('mail','e-icon__figure e-icon__figure--xs')

														| kuzya_yaroslava@gmail.com
													a(href="skype:kuzya_yaroslava@gmail.com").b-message-box__message-link
														i.e-icon.e-icon--xs.e-icon--mr10
															+icon('skype','e-icon__figure e-icon__figure--xs')

														| kuzya_yaroslava

										//Message
										.b-message-box__message.__alien
											.b-message-box__message-caption HP Украина
												.b-message-box__message-name
												.b-message-box__message-date сегодня в 13:25
											.b-message-box__message-body
												.b-message-box__message-message
													| Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке систем массового участия. Равным образом консультация с широким активом.





									.b-message-box__footer
										.b-message-box__text-editor
											include ../blocks/wysiwyg-enter-text

										.b-message-box__button-wrpa
											.row.no-gutters
												.b-message-box__button.__lg
													button.btn.btn--lg Отправить
												.b-message-box__button.__sm
													button(data-tooltip="Удалить").e-manipulation-btn
														i.e-icon.e-icon--no-border.e-icon--no-size.e-icon--m0
															+icon('trash-all','e-icon__figure e-icon__figure--trash e-manipulation-btn__figure')

			//Tab content
			section.b-commutator__content.js-commutator-content(data-child='b')
				.container
					//compny-in-list
					.b-compny-in-list
						.b-compny-in-list__body
							.b-compny-in-list__figure
								img(src='assets/img/company/lg/item-1.jpg' alt='alt')
							.b-compny-in-list__content
								.b-compny-in-list__caption
									a(href="#").b-compny-in-list__title ТОВ АФ "ПКФ аудит-финансы"
								.b-compny-in-list__item-block
									p.b-compny-in-list__message Аудиторская Фирма "ПКФ аудит-финансы" является членом Международной сети юридически независимых аудиторских и консалтинговых фирм PKF Internatial Limited, которая насчитывает представительства в 150 странах мира, и занимает 15 позицию среди мировых сетевых фирм, а так же имеет значительный опыт

					//compny-in-list
					.b-compny-in-list
						.b-compny-in-list__body
							.b-compny-in-list__figure
								img(src='assets/img/company/lg/item-2.jpg' alt='alt')
							.b-compny-in-list__content
								.b-compny-in-list__caption
									a(href="#").b-compny-in-list__title ПроАудит, Консалтинговая группа ООО
								.b-compny-in-list__item-block
									p.b-compny-in-list__message Компания "ПроАудит" работает в городе Киеве на протяжении более трех лет в области предоставления аудиторских услуг. Основное направление в работе компании: аудит, бухгалтерские и консалтинговые услуги. В 2009 году "ПроАудит" получила свидетельство Аудиторской палаты Украины о включении компании

					//compny-in-list
					.b-compny-in-list
						.b-compny-in-list__body
							.b-compny-in-list__figure
								img(src='assets/img/company/lg/item-1.jpg' alt='alt')
							.b-compny-in-list__content
								.b-compny-in-list__caption
									a(href="#").b-compny-in-list__title ТОВ АФ "ПКФ аудит-финансы"
								.b-compny-in-list__item-block
									p.b-compny-in-list__message Аудиторская Фирма "ПКФ аудит-финансы" является членом Международной сети юридически независимых аудиторских и консалтинговых фирм PKF Internatial Limited, которая насчитывает представительства в 150 странах мира, и занимает 15 позицию среди мировых сетевых фирм, а так же имеет значительный опыт

					//compny-in-list
					.b-compny-in-list
						.b-compny-in-list__body
							.b-compny-in-list__figure
								img(src='assets/img/company/lg/item-2.jpg' alt='alt')
							.b-compny-in-list__content
								.b-compny-in-list__caption
									a(href="#").b-compny-in-list__title ПроАудит, Консалтинговая группа ООО
								.b-compny-in-list__item-block
									p.b-compny-in-list__message Компания "ПроАудит" работает в городе Киеве на протяжении более трех лет в области предоставления аудиторских услуг. Основное направление в работе компании: аудит, бухгалтерские и консалтинговые услуги. В 2009 году "ПроАудит" получила свидетельство Аудиторской палаты Украины о включении компании
					//compny-in-list
					.b-compny-in-list
						.b-compny-in-list__body
							.b-compny-in-list__figure
								img(src='assets/img/company/lg/item-1.jpg' alt='alt')
							.b-compny-in-list__content
								.b-compny-in-list__caption
									a(href="#").b-compny-in-list__title ТОВ АФ "ПКФ аудит-финансы"
								.b-compny-in-list__item-block
									p.b-compny-in-list__message Аудиторская Фирма "ПКФ аудит-финансы" является членом Международной сети юридически независимых аудиторских и консалтинговых фирм PKF Internatial Limited, которая насчитывает представительства в 150 странах мира, и занимает 15 позицию среди мировых сетевых фирм, а так же имеет значительный опыт

					//compny-in-list
					.b-compny-in-list
						.b-compny-in-list__body
							.b-compny-in-list__figure
								img(src='assets/img/company/lg/item-2.jpg' alt='alt')
							.b-compny-in-list__content
								.b-compny-in-list__caption
									a(href="#").b-compny-in-list__title ПроАудит, Консалтинговая группа ООО
								.b-compny-in-list__item-block
									p.b-compny-in-list__message Компания "ПроАудит" работает в городе Киеве на протяжении более трех лет в области предоставления аудиторских услуг. Основное направление в работе компании: аудит, бухгалтерские и консалтинговые услуги. В 2009 году "ПроАудит" получила свидетельство Аудиторской палаты Украины о включении компании



				//Pagination
				include ../blocks/pagination-no-border