extends ../template/aspirant
block title
	| Markup
block main
	+breadcrumb('Подбор вакансии','Услуги и сервисы')
	.c-content
		.b-service
			.container
				.row.justify-content-center
					.col.b-service__inform
						i.e-icon.e-icon--lg.b-service__inform-figure
							+icon('check','e-icon__figure e-icon__figure--check')

						h5.h5 Поздравляем! Оплата прошла успешно.

						p.b-service__inform-text Чек отправлен Вам на почту.






