header.c-header.c-header--transparent
	.container-fluid
		.row.justify-content-between.align-content-center
			//Logo
			.c-header__logo
				a(href="/").b-logo.b-logo--dark-table
					include ../../assets/img/svg/logo-sub.svg
			//Navigation
			.c-header__nav-wrap
				nav.b-nav
					a(href="vacancies.html").b-nav__item Вакансии
					a(href="search-candidates.html").b-nav__item Кандидаты
					a(href="faq.html").b-nav__item Часто задаваемые вопросы

			.c-header__btn-wrap
				.b-private-office.js-login-menu
					.js-login-menu-btn
						i.e-icon.e-icon--no-border.e-icon--no-size.b-private-office__icon
							+icon('user','e-icon__figure e-icon__figure--user')
				.c-header__btn-dropdown.js-login-menu-content
					a(href="login.html").btn-link.c-header__btn-link.c-header__btn-dropdown-item Войти
					a(href="registration.html").btn.btn--black.btn--sm.c-header__btn-dropdown-item Регистрация

			//Burger
			.c-header__burger-wrapp
				.burger.js-burger-btn
					.burger__icon